# Virtual environment
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Saved models
*.pkl
*.keras
*.h5

# Processed data (keep folder, ignore contents)
Data/Processed/*
!Data/Processed/.gitkeep

# OS files
.DS_Store
Thumbs.db

